#Verilator
**/obj_dir/*
#Compiled Object
*.so
*.d
*.o
#emacs temp files
*.*~
*~
\#*
#eclipse
*.settings.xml
*.eclipse.cdt.codan.core.prefs
*.eclipse.cdt.core.prefs
**/bin/*
**vscode/*
*.json
*.vcd
examples/makedir/r
